.MovieDetail{
    background-color: black !important;
   padding:20px !important;
    
}
.MovieDetail-Title{
    display: flex;
    justify-content: space-between;

}
.Description{
    margin: 50px;
    color: blanchedalmond !important;
}
.Description h2{
    color: blanchedalmond !important;
}
.Button-MovieDetail{
    width: 100px;
    margin: 0 100px;
}